.example-spacer {
  flex: 1 1 auto;
}
.example-card {
  max-width: 400px;
}
.flex-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
.list-card{
  width: 100%;
  margin-left:5px;
}
mat-list{
  width: 100%;
}