<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Solar Block Chain</span>
    <span class="example-spacer"></span>
    <i class="material-icons">face</i>
  </mat-toolbar-row>
</mat-toolbar>
<div class="flex-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>New operation</mat-card-title>
        <mat-card-subtitle>This creates an operation contract in the blockchain</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Reference" [(ngModel)]="newOperation.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Amount" [(ngModel)]="newOperation.amount">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rate in %" [(ngModel)]="newOperation.ratePercentage">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button class="right" (click)="createOperation()">CREATE</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="list-card">
      <mat-card-header>
        <mat-card-title>All operations</mat-card-title>
        <mat-card-subtitle>Here are all the operations registered in the blockchain</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <div class="flex-container">
            <mat-list-item>Ref.</mat-list-item>
            <mat-list-item>$ Purchased</mat-list-item>
            <mat-list-item>$ Needed</mat-list-item>
            <mat-list-item>% Returns</mat-list-item>
            <mat-divider></mat-divider>
          </div>
          <div *ngFor="let operation of operations" (click)="viewOperation(operation)" class="flex-container">
            <mat-list-item>{{operation.name}}</mat-list-item>
            <mat-list-item>${{operation.purchased}}</mat-list-item>
            <mat-list-item>${{operation.amount}}</mat-list-item>
            <mat-list-item>{{operation.ratePercentage}}%</mat-list-item>
            <mat-divider></mat-divider>
          </div>
          <div *ngFor="let pending of pendindOperations" class="flex-container">
            <mat-list-item>{{pending.name}} <mat-spinner [diameter]="30"></mat-spinner></mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </mat-list>
      </mat-card-content>
    </mat-card> 
    <mat-card class="example-card list-card" *ngIf="selectedOperation">
      <mat-card-header>
        <mat-card-title>Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
            <mat-list-item>{{selectedOperation.name}}</mat-list-item>
            <mat-list-item>${{selectedOperation.purchased}}</mat-list-item>
            <mat-list-item>${{selectedOperation.amount}}</mat-list-item>
            <mat-list-item>{{selectedOperation.ratePercentage}}%</mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card> 
</div>  
